//Colors
$principal-color: #fff159;
$text-color: rgba(0,0,0,.9);
$text-color-white: #FFF;
$background-elements-color: #FFF;
$text-color-gray: gray;

//fonst
$font-size-base: 14px;
$font-size-label: 22px;
$font-size-input: 20px;

$background-color: #ebebeb;
//base de medidas
$max-breakpoints: (
    xs: 575px,
    sm: 767px,
    md: 991px,
    lg: 1999px,
    xl: 1399px
);